h1 {
  text-align: center;
  margin-top: 0;
}
div#linkbox {
  width: 28em;
  margin: 10% auto 0;
  overflow: hidden;
  background: white;
  padding: 2em;
  border-radius: 1em;
  -moz-border-radius: 1em;
}
div.field, div.actions {
  display:inline
}
input#adress_submit {
  margin-left:0;
  padding-left:0;
}
input#adress_url {
  margin-right:0;
  padding-right:0;
}
body {
  background:rgb(88, 140,140);
  margin:0;
  padding:0;
}
span.highlight {
  color:rgb(217, 4, 43);
}
header {
  margin:0;
  padding:0 0 0.2em 0;
  background: rgb(1, 28, 38);
  color: white;
}
header li {
  display: inline;
  padding:0;
  margin:0;
}
header ul {
  padding:0;
  margin:0 0 0 auto;
  width: 8em;
  display:block;
}
#errors {
  display:none;
  padding-left: 0;
}
#errors li.error {
  list-style-type: none;
  padding: 0.4em;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  background:rgb(217, 4, 43);
  margin-bottom: 0.4em;
}
#errors li.flash {
  list-style-type: none;
  padding: 0.4em;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  background: #ffff99;
  margin-bottom: 0.4em;
}

dl#urls {
  font-family: "DejaVu Sans",
             "Helvetica Neue",
             Verdana,
             sans-serif;
  font-weight: bold;
}

#urls dd {
  margin: 0 0 0.5em 0;
  padding: 0 0 0.2em 0;
  font-size: 150%;
  background: #ccc;
  border-bottom: dashed #666 1px;
}

#urls dt {
  background: #ccc;
}

#urls a:link {
  color: rgb(1, 28, 38);
}
#urls a:hover, #urls a:active {
  background: rgb(1, 28, 38);
  color: white;
}
