<div>
<ul id="session">
  <li>login</li>
  <li>register</li>
</ul>
</div>
<div id="linkbox">
  <h1>Link<span class="highlight">r</span></h1>
  <ul id="errors"></ul>
<%= render 'form' %>
  <dl id="urls"></dl>
</div>

